/* General styles */
body {
  margin: 0 auto;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #ffffff;
}

.site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/slider1.png");
  background-repeat: no-repeat;
  background-position: top center;

  transition: background-image 0.5s ease, background-color 0.5s ease;

  min-width: 1200px;
}

.site-wrapper-container {
  width: 1200px;
  margin: 0 auto;
}

.site-wrapper-catalog {
  background-color: #849d8f;
  min-width: 1200px;
  margin: 0 auto;
}

a:not(.button) {
  text-decoration: none;
  color: #ffffff;
  border-bottom: solid 1px rgba(255, 255, 255, 0.2);
}

a:not(.button):hover,
a:not(.button):active,
a:not(.button):focus {
  color: #FFBC9E;
  border-bottom: 1px solid rgba(255, 188, 158, 0.2);
}

h1 {
  font-size: 35px;
  font-weight: 700;
  line-height: 41px;

  margin-left: 27px;
}

button {
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  box-shadow: 0px 2px 2px 0 rgba(172, 16, 0, 0.64);
  background-image: linear-gradient(0deg, #E74A35, #F26843);
  border-radius: 25px;
  padding: 10px 14px;
  border: none;
}

button:hover {
  border: none;
  box-shadow: 0px 2px 2px 0 #ac1000;
  background-image:
    linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)),
    linear-gradient(to top, #e74a35, #f26843);
}

button:focus,
button:active {
  box-shadow: inset 0px 2px 2px 0 #942718;
  background-image:
    linear-gradient(to bottom, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)),
    linear-gradient(to top, #e74a35, #f26843);
}

.h2 {
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.search-popup input::placeholder,
.enter-popup input::placeholder {
  color: #999999;
  font-size: 14px;
  font-weight: 400;
}

main input::placeholder,
main textarea::placeholder {
  color: #999999;
  font-size: 16px;
  font-weight: 400;
}
/* General styles */

/* Header */
/* Header general styles */
.site-nav {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color: #ffffff;
  margin: 0;
}

.user-nav {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  color: #ffffff;
  margin: 0;
}

.site-nav,
.user-nav,
.submenu {
  list-style: none;
}

/* Header general styles */

/* Header net style */
.header-inner {
  padding-right: 27px;
  padding-left: 27px;
}

.header-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 0px;
}

.header-logo {
  display: flex;
  flex-grow: 0;
  flex-basis: auto;
  margin-top: 9px;
}

.main-nav {
  flex-grow: 1;
  flex-basis: auto;
  margin-top: 22px;
}

.main-nav-container {
  padding-left: 24px;
}

.main-nav-inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.site-nav {
  padding: 0px;
  display: flex;
  flex-grow: 0;
  justify-content: space-between;
}

.user-nav li {
  position: relative;
}

.user-nav>li:not(:last-child) {
  margin-right: 10px;
}

.user-nav {
  display: flex;
  justify-content: space-between;
  flex-grow: 0;
}

.contacts {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

/* Header net style */

/* Site-navigation, button-link */
.site-nav .nav-item {
  padding: 10px 14px;
  position: relative;
}

.site-nav .nav-item:hover {
  padding: 10px 14px;
  background-color: #F7F6F3;
  border-radius: 25px;
}

.site-nav .nav-item:active,
.site-nav .nav-item:focus {
  padding: 10px 14px;
  border-radius: 25px;
  box-shadow: inset 0px 2px 1px 0 #696969;
  background-color: #ededed;
}

.nav-item:hover a,
.nav-item:active a,
.nav-item:focus a {
  color: #323232;
  border-bottom: none;
  text-decoration: none;
}

.site-nav .active {
  color: #ffffff;
  background-color: #D07058;
  border-radius: 25px;
  padding: 10px 14px;
}

.site-nav .active:hover,
.site-nav .active:focus,
.site-nav .active:active {
  color: #323232;
  border-bottom: none;
  text-decoration: none;
}

/* Site-navigation, button-link */

/* Submenu styles */
.submenu-wrapper {
  display: none;
  position: absolute;
  top: 100%;
  left: -6px;
  z-index: 10;
  padding-top: 20px;
  width: 90px;

  background-color: transparent;
}

.submenu {
  display: none;

  background-color: #f8f7f4;
  border-radius: 15px;
  position: absolute;
  top: 100%;
  padding: 5px 0px;
}

.submenu li {
  margin: 0px;
  padding-left: 20px;
  padding-bottom: 8px;
  padding-top: 7px;
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
}

.submenu a {
  color: #323232;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
}

.submenu .news {
  font-weight: 700;
}

.submenu .active {
  border-radius: 0px;
  padding: 7px 0px 8px 20px;
}

.sub-item span {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 10px;

  display: inline-block;
  width: 115px;
  padding-left: 14px;
  margin-left: 6px;
}

.site-nav>li:hover .submenu-wrapper {
  display: block;
  box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
}

.nav-item:hover .submenu {
  display: block;
  position: absolute;
  top: 0;
  z-index: 10;
  width: 143px;
  padding: 0px;
  margin-top: 5px;
  padding-top: 5px;
  padding-bottom: 5px;

  border-radius: 5px;
  box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
}

.submenu li:first-child {
  padding: 10px 0px 0px 0px;
}

.submenu li:hover {
  background-color: #FBDED7;
}

.submenu li:active,
.submenu li:focus {
  background-color: #F6B5A5;
}

/* Submenu styles */

/* Header's contacts */
.contacts .schedule {
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  margin-bottom: 8px;
  margin-top: 0px;
  text-align: right;
}

.contacts .phone {
  color: #ffffff;
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  margin: 0px;
  text-align: right;
}

/* Header's contacts */

/* Search button with popup */
.search-wrapper {
  display: none;
  width: 341px;
  padding-top: 5px;
  position: absolute;
  top: 100%;
  right: 0px;
}

.search {
  background-color: rgba(255, 255, 255, 0.2);
  background-image: url("../img/loupe.svg");
  background-repeat: no-repeat;
  width: 35px;
  height: 33px;
  border-radius: 50%;
  background-position: center;
  position: relative;
}

.search:hover {
  background-color: #f8f7f4;
  background-image: url("../img/loupe-dark.svg");
}

.search:hover .search-wrapper {
  display: block;
  position: absolute;
  z-index: 10;
}

.search:hover .search-popup {
  display: block;
  position: absolute;
  z-index: 10;
  background-color: #f8f7f4;
  box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
}

.search-popup {
  display: none;
  position: absolute;
  top: 100%;
  right: 0px;

  background-color: #f8f7f4;
  padding: 20px 15px;
  border-radius: 5px;
}

.search-popup input {
  color: #323232;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;

  background-color: #ffffff;
  border-radius: 5px;
  border: solid 1px #d3d3d2;

  padding: 7px 15px 10px 15px;
  height: 44px;
  width: 311px;
  box-sizing: border-box;

  outline: none;
}

.search-popup input:hover {
  border: 2px solid rgba(154, 154, 154, 0.52);
}

.search-popup input:focus,
.search-popup input:active {
  border: solid 2px rgba(46, 136, 228, 0.52);
}

/* Search button with popup */

/* Enter button with popup */
.enter {
  text-decoration: none;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 25px;
  display: inline-block;

  display: flex;
  align-items: center;
  height: 33px;
  padding-right: 16px;
}

.enter:hover,
.enter:focus {
  color: #323232;
  text-decoration: none;
  background-color: #f7f6f3;
}

.enter:hover svg,
.enter:focus svg {
  fill: #323232;
}

.enter svg {
  padding-left: 16px;
  padding-right: 6px;
  fill: #ffffff;
}

.enter-popup-wrapper {
  display: none;
  padding-top: 5px;
  width: 120px;
  position: absolute;
  z-index: 10;
  top: 100%;
  right: 0;
  background-color: transparent;
}

.enter-popup {
  display: none;
  background-color: #F8F7F4;
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 10;
  padding: 20px 17px 22px 19px;
  width: 277px;
  box-sizing: border-box;

  border-radius: 5px;

  box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
}

.enter-wrapper:hover .enter-popup-wrapper {
  display: block;
  z-index: 10;
}

.enter-wrapper:hover .enter-popup {
  display: block;
  z-index: 10;
}

.enter-popup input {
  color: #323232;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;

  width: 221px;
  height: 44px;
  display: block;
  padding: 12px 10px;
  margin-bottom: 20px;
  box-sizing: border-box;

  border-radius: 5px;
  border: solid 1px #d3d3d2;
  outline: none;
}

.enter-popup input:hover {
  border: 2px solid rgba(154, 154, 154, 0.52);
}

.enter-popup input:focus,
.enter-popup input:active {
  border: solid 2px rgba(46, 136, 228, 0.52);
}

.enter-popup a {
  display: inline-block;
  color: #323232;
  font-size: 13px;
  border-bottom: 1px solid #323232;
  margin-bottom: 4px;
}

.enter-popup button {
  display: inline-block;
  float: left;
  border-radius: 20px;
  padding: 10px 25px;
  margin-right: 20px;
}

.enter-popup a:hover,
.enter-popup a:focus,
.enter-popup a:active {
  color: #E84D37;
}

/* Enter button with popup */

/* Cart button with popup */
.cart {
  color: #ffffff;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.2);
  background-repeat: no-repeat;
  border-radius: 25px;
  display: flex;
  align-items: center;
  height: 33px;
  padding-right: 17px;
  padding-left: 16px;
}

.cart svg {
  padding-right: 8px;
}

.cart-with-item svg {
  padding-right: 7px;
}

.cart-with-item {
  color: #323232;
  text-decoration: none;
  background-color: #f8f7f4;
  border-radius: 25px;
  display: flex;
  align-items: center;
  height: 33px;
  padding-right: 16px;
  padding-left: 16px;
}

.cart-popup-wrapper {
  display: none;
  padding-top: 5px;
  width: 120px;
  position: absolute;
  z-index: 10;
  top: 100%;
  right: 0;
  background-color: transparent;
}

.cart-popup {
  display: none;
  background-color: #F8F7F4;
  position: absolute;
  top: 100%;
  right: 0;

  width: 540px;
  box-sizing: border-box;
  padding: 20px 15px;

  border-radius: 5px;
}

.cart-popup a {
  color: #ffffff;
  box-shadow: 0px 2px 2px 0 rgba(172, 16, 0, 0.64);
  background-image: linear-gradient(0deg, #E74A35, #F26843);
  border-radius: 25px;
  padding: 10px 14px;
  text-decoration: none;
}

.cart-popup a:hover {
  box-shadow: 0px 2px 2px 0 #ac1000;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)),
    linear-gradient(to top, #e74a35, #f26843);
}

.cart-popup a:focus,
.cart-popup a:active {
  box-shadow: inset 0px 2px 2px 0 #942718;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)),
    linear-gradient(to top, #e74a35, #f26843);
}

.cart-popup-inner {
  display: flex;
  flex-direction: column;
}

.cart-contents {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0px;
  padding: 0px;
}

.cart-contents li {
  color: #323232;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  display: flex;
  align-items: center;

  position: relative;

  margin-bottom: 20px;
}

.cart-contents img {
  margin-right: 14px;
}

.cart-contents h3 {
  color: #323232;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  width: 216px;
  margin-right: 33px;
  margin-bottom: 0px;
  margin-top: 0px;
}

.cart-contents p {
  margin-bottom: 0px;
  margin-top: 0px;
}

.cart-contents p:not(.sum) {
  margin-right: 29px;
}

.cart-contents span {
  color: #999999;
}

.sum-total {
  color: #323232;
  font-size: 15px;
  font-weight: 700;
  line-height: 18px;

  text-align: right;

  border-top: 1px solid #cacac7;

  padding-top: 17px;
  margin-top: 0px;
}

.cart-popup a {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  background-image: linear-gradient(0deg, #E74A35, #F26843);

  align-self: flex-end;
}

.cart-contents .modal-close-item {
  width: 11px;
  height: 11px;

  margin-right: 14px;

  border: 0;

  cursor: pointer;

  background-color: transparent;
  background-image: url("../img/cross-small.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 11px 11px;

  box-shadow: none;
  border-radius: 0px;
  padding: 0px;
}

.cart-wrapper:hover .cart-popup-wrapper {
  display: block;
  z-index: 10;
}

.cart-wrapper:hover .cart-popup {
  display: block;
  z-index: 10;
}

/* Cart button with popup */
/* Header */


/* Main */
/* Slider */
.carousel {
  padding-left: 27px;
  padding-right: 27px;
  margin-bottom: 40px;
}

.carousel li {
  list-style: none;
}

.carousel .button {
  color: #ffffff;
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
  box-shadow: 0px 2px 2px 0 rgba(172, 16, 0, 0.64);
  background-image: linear-gradient(to top, #E74A35, #F26843);
  border-radius: 50px;
  text-decoration: none;
  text-align: center;
  padding-left: 41px;
  padding-top: 10px;
  padding-right: 43px;
  padding-bottom: 10px;
  display: inline-block;
}

.carousel .button:hover {
  box-shadow: 0px 2px 2px 0 #ac1000;
  background-image:
    linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)),
    linear-gradient(to top, #e74a35, #f26843);
}

.carousel .button:focus,
.event a:focus,
.carousel a:active,
.event a:active {
  box-shadow: inset 0px 2px 2px 0 #942718;
  background-image:
    linear-gradient(to bottom, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)),
    linear-gradient(to top, #e74a35, #f26843);
}

.site-wrapper::before,
.site-wrapper::after {
  content: "";

  visibility: hidden;
}

.site-wrapper::before {
  background-image: url("../img/slider2.png");
  background-position-y: 83px;
}

.site-wrapper::after {
  background-image: url("../img/slider3.png");
  background-position-y: 83px;
}

.slider {
  position: relative;

  padding-top: 280px;

  text-align: center;
  color: #ffffff;
}

.slider-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.slide {
  display: none;
}

.slide-title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 27px;

  font-size: 60px;
  line-height: 60px;
  font-weight: 800;
}

.slider-controls {
  position: absolute;
  bottom: 25px;
  left: 0;
  z-index: 20;

  font-size: 0;
}

.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;

  vertical-align: top;

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

#product-1:checked~.site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/slider1.png");
  background-position-y: 83px;
}

#product-2:checked~.site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/slider2.png");
  background-position-y: 83px;
}

#product-3:checked~.site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/slider3.png");
  background-position-y: 83px;
}

#product-1:checked~.site-wrapper #slide1,
#product-2:checked~.site-wrapper #slide2,
#product-3:checked~.site-wrapper #slide3 {
  display: block;
}

#product-1:hover~.site-wrapper label[for="product-1"],
#product-2:hover~.site-wrapper label[for="product-2"],
#product-3:hover~.site-wrapper label[for="product-3"] {
  background-color: rgba(248, 247, 244, 0.4);
}

#product-1:checked~.site-wrapper label[for="product-1"],
#product-2:checked~.site-wrapper label[for="product-2"],
#product-3:checked~.site-wrapper label[for="product-3"] {
  background-color: #ffffff;
}

/* Slider */

/* Events */
/* Events general style */
.event h3 {
  font-size: 35px;
  font-weight: 700;
  line-height: 41px;
}

.event p {
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
}

.event a {
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  background-image: linear-gradient(0deg, #E74A35, #F26843);
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
  box-shadow: 0px 2px 2px 0 rgba(172, 16, 0, 0.64);
  background-size: contain;
  background-position: center;
  border-radius: 50px;
  text-decoration: none;
  text-align: center;
  padding-left: 22px;
  padding-right: 24px;
  padding-top: 11px;
  padding-bottom: 11px;
}

.event a:hover {
  box-shadow: 0px 1px 2px 0 #ac1000;
  background-image:
    linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)),
    linear-gradient(to top, #e74a35, #f26843);
}

.raspberry {
  background-image: url("../img/berry-bg.png");
  background-repeat: no-repeat;
}

.chocolate {
  background-image: url("../img/chocolate-bg.png");
  background-repeat: no-repeat;
}

/* Events general style */

/* Events net style */
.events-container {
  padding-left: 27px;
  padding-right: 27px;
  margin-bottom: 34px;
  width: 1146px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.event {
  width: 560px;
  border-radius: 15px;
}

.event-inner-container {
  padding-left: 20px;
  padding-right: 20px;

  display: flex;
  flex-direction: column;
  height: 230px;
}

.event h3 {
  margin-top: 15px;
  margin-bottom: 13px;
}

.event p {
  margin: 0px;
  margin-bottom: 43px;
}

.event .button {
  align-self: flex-end;
}

/* Events net style */
/* Events */

/* Hits list */
/* Hits list general style */
.hits-list {
  list-style: none;
  margin: 0px;
  margin-bottom: 20px;
}

.hits-list li::before {
  content: url("../img/hit.svg");
  position: absolute;
  z-index: 6;
}

.hits-list li:hover .details {
  display: block;
}

.hits-list h3 {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  text-align: center;
  margin: 0px;
  margin-top: 37px;
}

.hits-list p {
  font-size: 45px;
  font-weight: 700;
  line-height: 13px;

  margin: 0px;
  margin-top: -50px;
}

.hits-list span {
  font-size: 30px;
  font-weight: 700;
  line-height: 13px;
}

.hits-list button {
  align-self: center;
  position: absolute;
  z-index: 15;
  left: 46px;
  bottom: 22px;
  cursor: pointer;
}

.hits-list li:hover .details {
  opacity: 1;
}

.hits-list li:hover .hits-list-item-container {
  z-index: 5;
}

/* Hits list general style */

/* Hits list net style */
.hits-list {
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  justify-content: center;
  padding: 0px;
}

.hits-list li {
  display: flex;
  flex-direction: column;
  width: 267px;

  padding-bottom: 20px;
  padding-left: 13px;
  padding-right: 13px;
  padding-top: 6px;

  position: relative;
}

/* Hits list net style */
/* Hits list */

/* Features */
/* Features general style */
.features {
  color: #323232;
  list-style: none;
  background-color: #F7F6F3;
  background-image: url("../img/\ waffle-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 15px;
  margin-left: 27px;
  margin-right: 27px;
}

.feature-list {
  list-style: none;
}

/* Features general style */

/* Features net style */
.features {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  flex-basis: auto;
  margin-bottom: 40px;
}

.features-container {
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.features p {
  max-width: 1013px;
  margin: 0px;
}

.feature-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-basis: auto;
  margin: 0;
  justify-content: flex-start;
  padding-top: 10px;
  padding-left: 0px;
}

.feature-list li {
  max-width: 476px;
  padding-top: 10px;
  padding-bottom: 5px;
}

.feature-list li:nth-child(odd) {
  padding-right: 33px;
}

.production {
  background-image: url("../img/ice-cream.svg");
  background-repeat: no-repeat;
  padding-left: 56px;
}

.suppliers {
  background-image: url("../img/cow.svg");
  background-repeat: no-repeat;
  padding-left: 56px;
}

.ingredients {
  background-image: url("../img/eco.svg");
  background-repeat: no-repeat;
  padding-left: 56px;
}

.delivery {
  background-image: url("../img/thermometer.svg");
  background-repeat: no-repeat;
  padding-left: 56px;
}

/* Features net style */
/* Features */

/* Blog-subscribe section */
/* Blog */
.blog {
  width: 560px;
  color: #323232;
  background-color: #ffffff;
  background-image: url("../img/blog.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 15px;
}

.blog h3 {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  margin: 0px;
  padding-top: 26px;
}

.blog p {
  width: 281px;
  margin: 0px;
  padding: 0px;
}

.blog a {
  color: #323232;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  border-bottom: solid 2px #323232;
}

.blog a:hover,
.blog a:focus,
.blog a:active {
  color: #E84D37;
  border-bottom: solid 1px rgba(232, 77, 55, 0.2);
}

/* Blog */

/* Subscribe form */
.subscribe {
  color: #323232;
  border-radius: 15px;
  background-image: url("../img/subscribe-bg.svg");
  padding: 5px;
}

.subscribe form {
  height: 180px;
  width: 510px;
  background-color: #F8F7F4;
  border-radius: 10px;
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 30px;
}

.subscribe p {
  color: #5a5a5a;
  margin-top: 0px;
  margin-bottom: 35px;
}

.subscribe input[type="email"] {
  color: #323232;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  height: 44px;
  padding-left: 14px;
  width: 368px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid rgba(178, 178, 178, 0.52);
  margin-right: 6px;
  outline: none;
}

.subscribe input[type="email"]:hover {
  border: 2px solid rgba(154, 154, 154, 0.52);
}

.subscribe input[type="email"]:focus,
.subscribe input[type="email"]:active {
  border: solid 2px rgba(46, 136, 228, 0.52);
}

.subscribe button {
  padding: 10px 19px;
}

/* Subscribe form */

/* Blog-subscribe net style */
.blog-subscribe-container {
  display: flex;
  flex-direction: row;
  flex-basis: auto;
  justify-content: space-between;
  margin: auto;
  padding-left: 27px;
  padding-right: 27px;
  padding-bottom: 40px;
}

.blog-container {
  padding-left: 20px;
}

/* Blog-subscribe net style */
/* Blog-subscribe section */

/* Map section */
.map {
  position: relative;
}

.map::before {
  content: " ";

  background-image: url("../img/pin.svg");

  position: absolute;
  top: 139px;
  left: 266px;

  width: 80px;
  height: 140px;
}

.contacts-map {
  background-color: #ffffff;
  color: #323232;
  display: inline-block;
  border-radius: 15px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 26px;
  padding-bottom: 31px;
  position: absolute;
  right: 27px;
  top: 63px;
}

.contacts-map-inner {
  margin-bottom: 26px;
  width: 252px;
}

.contacts-map p {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;

  margin: 0px;
}

.contacts-map .address,
.contacts-map .phone {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;

  display: block;
}

.contacts-map .address {
  margin-bottom: 15px;
}

.contacts-map button {
  padding: 10px 28px;
}
/* Map section*/

/* Feedback modal */
.feedback-modal {
  /* display: none; */
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -221px;
  margin-left: -239px;

  z-index: 10;
}

.feedback {
  background-color: #F8F7F4;

  width: 430px;
  padding: 13px 24px 27px 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  border-radius: 10px;
}


.feedback input,
.feedback textarea {
  color: #323232;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;

  border-radius: 5px;
  border: solid 1px rgba(178, 178, 178, 0.52);


  margin-bottom: 20px;

  box-sizing: border-box;
  outline: none;
}

.feedback input:hover,
.feedback textarea:hover {
  border: 2px solid rgba(154, 154, 154, 0.52);
}

.feedback input:focus,
.feedback textarea:focus,
.feedback input:active,
.feedback textarea:active {
  border: solid 2px rgba(46, 136, 228, 0.52);
}

.feedback input {
  padding: 10px;
  width: 247px;
  height: 44px;
}

.feedback textarea {
  padding: 10px;
  width: 408px;
  height: 155px;
}

.feedback p {
  color: #323232;
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  margin: 0px;
  margin-bottom: 20px;
}

.feedback button {
  align-self: flex-end;
  margin-top: 5px;
  padding: 10px 24px;
}

.feedback-modal .modal-close {
  width: 16px;
  height: 16px;

  position: absolute;
  top: 16px;
  right: 17px;

  border: 0;

  cursor: pointer;

  background-color: transparent;
  background-image: url("../img/cross-small.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px 16px;

  box-shadow: none;
  border-radius: 0px;
  padding: 0px;
}

/* Feedback modal */
/* Main */

/* Footer */
/* Socials list */
.socials,
.footer-nav {
  list-style: none;
}

.icon {
  opacity: 80%;
  border-radius: 50%;
  border: 3px solid rgba(255, 255, 255, 0.5);
  display: inline-block;
  width: 38px;
  height: 38px;
  box-sizing: border-box;
}

.icon:hover,
.icon:active,
.icon:focus {
  opacity: 100%;
  border: 3px solid rgba(255, 255, 255, 0.7);
}

svg path:active,
svg path:focus,
svg g:active,
svg g:focus {
  opacity: 100%;
  fill: #e9e9e9;
}
/* Socials list */

/* Footer navigation */
.footer-nav-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  min-width: 290px;
  margin-left: -15px;
}

.footer-nav {
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  margin: 0px;
  padding: 0px;
}

.first-column {
  margin-right: 32px;
}

.first-column li {
  padding-left: 21px;
}

.footer-nav li {
  margin-bottom: 5px;
}

.footer-nav .favourite {
  font-weight: 700;
  background-image: url("../img/heart.svg");
  background-repeat: no-repeat;
}
/* Footer navigation */

/* Footer copyright */
.copyright p {
  font-size: 12px;
  line-height: 16px;
}
/* Footer copyright */

/* Footer net style */
.footer-container {
  display: flex;
  justify-content: space-between;
  padding-right: 27px;
  padding-left: 27px;
  align-items: flex-end;
  padding-top: 8px;
  padding-bottom: 25px;
}

.socials {
  display: flex;
  justify-content: flex-start;
  padding-left: 0px;
  margin: 0px;
}

.socials li:not(:last-child) {
  padding-right: 10px;
}

.copyright {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.copyright p {
  margin: 0px;
}
/* Footer net style */
/* Footer */


/* Catalog page styles */
/* Bread-crumbs */
.bread-crumbs {
  display: flex;
  justify-content: flex-start;
  height: 21px;
  padding-left: 27px;
  padding-right: 27px;

  position: absolute;
  top: 100px;
}

.bread-crumbs p {
  margin: 0px;
}

.bread-crumbs .next-item {
  display: inline-block;
  margin-right: 8px;
}

.first-item,
.second-item {
  margin-right: 8px;
}
/* Bread-crumbs */

/* Filter */
/* Filter net style */
.filter-container {
  padding-left: 27px;
  padding-right: 27px;
  min-width: 860px;
  margin-bottom: 34px;
}

.filter-container .filter {
  display: flex;
  flex-wrap: wrap;
}

.price {
  display: flex;
  flex-direction: column;
}
/* Filter net style */

/* Filter */
fieldset {
  padding: 0;
  border: none;
  margin: 0px;

  margin-right: 15px;
}

legend {
  margin-left: 15px;
  margin-bottom: 5px;
}

.filter h3 {
  margin: 0px;
}

/* Sort */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  box-shadow: none;
  border: 0;
  background: rgba(248, 247, 244, 0.2);
  background-image: none;
}

/* Remove IE arrow */
select::-ms-expand {
  display: none;
}

/* Custom Select */
.select-container {
  position: relative;
  display: block;
  width: 194px;
  background-color: rgba(248, 247, 244, 0.2);
  z-index: 10;
  height: 37px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 18px;
  letter-spacing: normal;
  text-align: center;
  border-radius: 20px;
  box-sizing: border-box;
}

select {
  border: none;
  outline: none;
  background: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
  margin: 0;
  display: block;
  width: 194px;
  padding-left: 15px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  color: white;
  box-sizing: border-box;
  height: 37px;
}

.select-container::after {
  position: absolute;
  right: 0;
  top: 0;
  width: 45px;
  height: 100%;
  line-height: 38px;
  content: "▼";
  text-align: center;
  color: white;
  font-size: 12px;
  z-index: -1;
}

.select-container:hover select,
.select-container:hover::after {
  color: #323232;
}
/* Custom Select */
/* Sort */

/* Price */
.range-controls {
  position: relative;
  height: 37px;
  box-sizing: border-box;
  margin-bottom: 15px;
  border-radius: 20px;
  background-color: rgba(248, 247, 244, 0.2);
  width: 220px;
  display: block;
  padding-left: 22px;
  padding-right: 22px;
  padding-top: 16px;
}

.range-controls .bar {
  width: 50%;
  height: 4px;
  margin-left: 20px;
  background-color: #f8f7f4;
}

.range-slider-pin {
  position: absolute;
  top: 8px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #ababab;
  /* box-shadow: 0 2px 1px 0 #cfcfcf; */
  border-radius: 50%;
  cursor: pointer;
}

.range-slider-pin-min {
  left: 35px;
}

.range-slider-pin-max {
  left: 125px;
}

.range-slider .scale {
  height: 4px;
  background: #d7dcde;
}
/* Price */

/* Fat */
.radio-filter-fat {
  height: 37px;
  box-sizing: border-box;
  margin-bottom: 15px;
  border-radius: 20px;
  background-color: rgba(248, 247, 244, 0.2);
  width: 100%;
}

.radio-filter-fat ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  margin: 0px;
  width: 400px;
  height: 37px;
  padding: 0px;

  margin-left: 15px;
}

.filter-option label {
  position: relative;

  display: block;

  cursor: pointer;
  user-select: none;
}

.filter-input-radio+label::before {
  content: "";

  position: absolute;
  left: -27px;
  top: 0px;

  width: 14px;
  height: 14px;

  border: 3px solid white;
  border-radius: 50%;

  opacity: 0.8;
}

.filter-input-radio:checked+label::after {
  content: "";
  position: absolute;
  top: 6px;
  left: -21px;
  width: 8px;
  height: 8px;
  background-color: white;
  border-radius: 50%;

  opacity: 0.8;
}

.filter-input-radio:hover+label::before,
.filter-input-radio:hover+label::after {
  opacity: 1;
}
/* Fat */

/* Fillings */
.fillings-checkbox {
  margin: 0px;
  padding: 0px;
  list-style: none;

  min-width: 700px;
  min-height: 37px;

  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;

  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;

  padding-left: 25px;
  box-sizing: border-box;

}

.fillings-checkbox li {
  margin-right: 30px;
  margin-left: 20px;
}

.fillings-checkbox li:last-child {
  margin-right: 0px;
}

.filter-input-checkbox+label::before {
  content: "";
  position: absolute;

  width: 24px;
  height: 20px;

  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  background-size: 24px 20px;

  top: 0;
  left: -30px;

  opacity: 0.8;
}

.filter-input-checkbox:hover+label::before {
  opacity: 1;
}

.filter-input-checkbox:checked+label::before {
  background-image: url("../img/checkbox-on.svg");
}
/* Fillings */

.filter-container button {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 18px;

  width: 144px;
  height: 37px;
  box-sizing: border-box;
  padding: 0;

  border: solid 2px #ffffff;
  box-shadow: none;

  background-color: rgba(255, 255, 255, 0.2);
  background-image: none;

  cursor: pointer;

  margin-top: 26px;
}

.filter-container button:hover,
.filter-container button:focus {
  color: #323232;
  background-color: #ffffff;
}

.filter-container button:active {
  color: #323232;
  box-shadow: inset 0px 2px 1px 0 #696969;
  background-color: #ededed;
  border: none;
}
/* Filter */

/* Product list */
/* Product list general style */
.product-list {
  list-style: none;
  margin: 0px;
}

.product-list h3 {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  text-align: center;
  margin: 0px;
  margin-top: 37px;
}

.product-list p {
  font-size: 45px;
  font-weight: 700;
  line-height: 13px;

  margin: 0px;
  margin-top: -50px;
}

.product-list span {
  font-size: 30px;
  font-weight: 700;
  line-height: 13px;
}

.product-list button {
  align-self: center;
  position: absolute;
  left: 46px;
  bottom: 22px;
  cursor: pointer;

  z-index: 2;
}

.details {
  opacity: 0;

  height: 405px;
  width: 293px;

  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;

  background-color: rgba(225, 225, 225, 0.2);
  border-radius: 5px;
  box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
}

.product-list li:hover .details {
  opacity: 1;
}

.product-list li:hover .product-list-item-container {
  z-index: 5;
}
/* Product list general style */

/* Product list net style */
.catalog {
  margin-bottom: 50px;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  justify-content: center;
  padding: 0px;
}

.product-list li {
  display: flex;
  flex-direction: column;
  width: 267px;
  padding-bottom: 30px;
  padding-left: 13px;
  padding-right: 13px;
  padding-top: 6px;
  position: relative;
}
/* Product list net style */
/* Product list */

/* Paggination section */
.paggination-container {
  padding-left: 27px;
  padding-right: 27px;
  margin-bottom: 20px;
}

.paggination {
  list-style: none;
  display: flex;
  justify-content: flex-end;

  white-space: nowrap;

  padding-bottom: 30px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.paggination a {
  display: inline-block;
  min-width: 27px;
  line-height: 26px;

  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  border: none;
}

.paggination a:hover,
.paggination a:focus {
  border: none;
  border-radius: 50%;

  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.2);

  cursor: pointer;
}

.paggination a:active {
  border: none;
  border-radius: 50%;

  color: #000000;
  background-color: #ffffff;

  cursor: pointer;
}

.paggination .current {
  color: #000000;
  background-color: #ffffff;
  border-radius: 50%;
}

.paggination .prev-page {
  background-image: url("../img/icon-right-small.svg");
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.2;

  transform: rotate(180deg);

  margin-right: 4px;
}

.paggination .next-page {
  background-image: url("../img/icon-right-small.svg");
  background-repeat: no-repeat;
  background-position: center;

  margin-left: 4px;
}
/* Paggination section */
